
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form action=@Url.Action("LoginUser","User") method="post">
    <label>Username</label> <br />
    <input type="text" name="Username" /> <br />
    <label>Password</label> <br />
    <input type="text" name="Password" /> <br />
    <button>Login</button>
</form>