
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action=@Url.Action("RegisterUser","User") method="post">
    <label>Username</label> <br />
    <input type="text" name="Username" /> <br />
    <label>Password</label> <br />
    <input type="text" name="Password" /> <br />
    <button>Register</button>
</form>
